# MC316 Practice Test â€“ PYTHON

Please read the questions carefully. You will have 30 minutes to finish the test.

#### Please import pandas library for use in scripting in the cell below.

In [2]:
import pandas as pd

#### Please import the datasets and name them. 
For this test, you will use employee compensation data provided by Kansas Department of Administration. Download the original data here: <http://kanview.ks.gov/DataDownload.aspx>. 
For your convenience, the datasets were downloaded and uploaded to the instructor's database. You can retrieve the url for the first dataset from  <https://datajournalism.tech/wp-content/uploads/2019/05/EmployeeData_2017.csv> and the second dataset from
<https://datajournalism.tech/wp-content/uploads/2019/05/EmployeeData_2018.csv>

In [31]:
employee17 = pd.read_csv("https://datajournalism.tech/wp-content/uploads/2019/05/EmployeeData_2017.csv")

In [32]:
employee18 = pd.read_csv("https://datajournalism.tech/wp-content/uploads/2019/05/EmployeeData_2018.csv")

#### Please describe the two datasets.

In [23]:
employee17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39422 entries, 0 to 39421
Data columns (total 7 columns):
Agency_Number      39422 non-null int64
Agency_Name        39422 non-null object
Employee_Name      39422 non-null object
Job_Title          39422 non-null object
Total_Gross_Pay    39422 non-null float64
Overtime_Pay       8615 non-null float64
Unnamed: 6         0 non-null float64
dtypes: float64(3), int64(1), object(3)
memory usage: 2.1+ MB

In [25]:
employee18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39299 entries, 0 to 39298
Data columns (total 8 columns):
Fiscal_Year        39299 non-null int64
Agency_Number      39299 non-null int64
Agency_Name        39299 non-null object
Employee_Name      39299 non-null object
Job_Title          39299 non-null object
Total_Gross_Pay    39299 non-null float64
Overtime_Pay       39299 non-null float64
Unnamed: 7         0 non-null float64
dtypes: float64(3), int64(2), object(3)
memory usage: 2.4+ MB

#### Question 1: In the year of 2017,  which agency has the most employees? 
After writing the code, make sure you give the answer in the cell right below the code.

In [36]:
employee17.Agency_Name.value_counts().head(5)

Kansas State University                5367
University of Kansas                   5207
University of Kansas Medical Center    3419
Wichita State University               2248
Department of Transportation           2180
Name: Agency_Name, dtype: int64

Answer: Kansas State University

#### Question 2: In the year of 2018, does this agency still have the most employees? If yes, is there any change in the total number of employees? If no, what's the name of the agency that had the most employees?

In [29]:
5464-5367

97

In [ ]:
Yes, Kansas State still has the most employeees, actually icreased by 97

Answer:

#### Question 3: How many employees that Kansas State University had in the year of 2018? Who are these people and how much they got paid?
Provide a subset of data and name it `KSU`. Describe the subset.

In [42]:
KSU = employee18[employee18.Agency_Name == "Kansas State University"]

KSU.info()

In [ ]:
See table yourself

#### Question 4: At Kansas University University, who got paid the most in the year of 2018? Is it considered an increase or decrease of compensation for that employee, compared to the year of 2017? How big is the difference?

In [49]:
merged = pd.merge(KSU,employee17, on="Employee_Name")

In [50]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4600 entries, 0 to 4599
Data columns (total 14 columns):
Fiscal_Year          4600 non-null int64
Agency_Number_x      4600 non-null int64
Agency_Name_x        4600 non-null object
Employee_Name        4600 non-null object
Job_Title_x          4600 non-null object
Total_Gross_Pay_x    4600 non-null float64
Overtime_Pay_x       4600 non-null float64
Unnamed: 7           0 non-null float64
Agency_Number_y      4600 non-null int64
Agency_Name_y        4600 non-null object
Job_Title_y          4600 non-null object
Total_Gross_Pay_y    4600 non-null float64
Overtime_Pay_y       482 non-null float64
Unnamed: 6           0 non-null float64
dtypes: float64(6), int64(3), object(5)
memory usage: 539.1+ KB

In [56]:
merged.groupby(["Employee_Name","Job_Title_x", "Total_Gross_Pay_y"]).Total_Gross_Pay_x.sum().reset_index().sort_values("Total_Gross_Pay_x", ascending=False).head()

,Employee_Name,Job_Title_x,Total_Gross_Pay_y,Total_Gross_Pay_x
2863,Myers Richard B,President,454615.35,531250.02
3993,Taylor Gene F,Director of Athletics,60576.95,450000.20
1023,Dorhout Peter Kenneth,Vice President,332307.63,327815.27
912,Dawson Darren Merritt,Dean-Professor,328361.58,323922.66
1529,Gwinner Kevin Patrick,Dean-Professor,345361.58,323922.66

In [55]:
531250.02-454615.35

76634.67000000004

In [ ]:
76634.67

Answer:Richard B Myers got paid the most in 2018. His pay incresased $76634 from 2017-2018

### END OF THE TEST